.main-container{
    text-align: center;
    padding: 20px;
}

.pil-top{
    margin:0 auto;
    background-color: white;
    border: 1px solid;
    height: 40px;
    width: 30px;
}

.pil{
    margin:0 auto;
    background-color: white;
    border: 1px solid;
    height: 80px;
    width: 100px;
}

button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
}